@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-2;
}

.bg-primary {
  background: rgb(000, 000, 000);
}

.bg-secondary {
  background: rgb(51, 51, 51);
}

.mobile-nav {
  @apply fixed top-12 left-0 w-full h-1/4;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.mobile-nav li:hover {
  @apply bg-gray-700
  border-2
  rounded-sm
}

.button{
  @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html{
  scroll-behavior: smooth;
}